@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";
* {
  font-family: "Fira Code", monospace;
}
.mycontainer {
  max-width: 1260px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: rgb(44, 48, 54);
}
main {
  background-color: rgb(44, 48, 54);
  max-width: 1260px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: rgb(44, 48, 54);
}
@theme {
  --breakpoint-xs: 300px;
  --breakpoint-xr: 450px;
  --breakpoint-xe: 550px;
  --breakpoint-xm: 900px;
  --breakpoint-lm: 1200px;
}
.animation_btn {
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px 2px rgba(187, 116, 206, 0.6);
  }
  50% {
    box-shadow: 0 0 10px 3px rgba(187, 116, 206, 1);
  }
}
